@charset "utf-8";
/* CSS Document */

.hidden
{
	display: none;
}


#siteContainer
{
	margin: 0 auto;
	width: 1200px;
}

#mainHeader
{
	margin-top: 20px;
	height: 120px;
	display: flex;
	flex-direction: row;
}

#logo
{
	background-color: black;
	height: 120px;
	width: 120px;
}

#mainNav
{
	background-color: black;
	height: 50px;
	width: 700px;
	margin-left: 340px;
	margin-top: 35px;
}

#lakeImg
{
	background-color: black;
	height: 500px;
	width: 1200px;
	margin-top: 13px;
}

#eventInfo
{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 300px;
}

#eventMap
{
	background-color: black;
	width: 350px;
	height: 300px;
	margin-left: 20px;
}

#eventDesc
{
	background-color: black;
	height: 300px;
	width: 775px;
	margin-left: 35px;
}

#prodBanner
{
	display: flex;
}

#prodBG
{
	background-color: black;
	width: 1200px;
	height: 50px;
	margin-bottom: 30px;
}

#prodArea
{
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 42px;
}

#prod1
{
	background-color: black;
	height: 430px;
	width: 365px;
}

#prod2
{
	background-color: black;
	height: 430px;
	width: 365px;
	margin-left: 33px;	
}

#prod3
{
	background-color: black;
	height: 430px;
	width: 365px;
	margin-left: 33px;	
}




